* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Comfortaa', cursive;
    background-color: #3d7691;}

.nav {
    list-style: none;
    text-align: center;}

.nav li{
    display: inline;}
        
.nav a {    
    font-family: 'Nanum Myeongjo', serif;
    display: inline-block;    
    padding: 1px;    
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;}

.home:hover {
    background-color:#e29787;}  

.about:hover {
    background-color:#e29787;} 
    
.hobbies:hover {
    background-color:#e29787;} 
    
h1 {
    text-align: center;
    padding: 10px;    
    font-family: 'Nanum Myeongjo', serif;
    border-top: solid;    
    background-color: #e29787}

h2 {
    text-align: center;
    text-decoration: underline;
    background-color: #e29787;
    padding: 10px 0 10px 0;}

#container p {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px 0 20px;    
    background-color: #e29787;}

figure {
    background-color: #e29787;}

figcaption {
    background-color: #e29787;
    text-align: center;
    font-size: 12px;
    font-style: italic;}

img {     
    border: 2px solid black;
    float: right;}

.images {
    width: 375px;
    height: 425px;}

.giraffe {
    width:375px;
    height: 500px;}

.paragraph{
    border: 3px solid black;
    text-align: justify;}

#container {    
    border-color:rgb(0, 0, 0);
    width: 70%;
    margin: auto;    
    border-style: solid;    
    line-height: 1.5;
    word-spacing: 1px;
    background-color: #e29787}

.section1, .section2, .section3, .section4 {
    display: flex;
    padding: 20px;
    background-color: #e29787;}
    
.section{        
    border: 3px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    padding: 40px;}

.top-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}

.top {
    font-family: 'Nanum Myeongjo', serif;
    display: inline;     
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;}

.top:hover {
    background-color: #e29787;}
        

