* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Comfortaa', cursive;
    background-color: #3d7691;}

.nav {
    list-style: none;
    text-align: center;}

.nav li{
    display: inline;}
    
.nav a {    
    font-family: 'Nanum Myeongjo', serif;
    display: inline-block;
    padding: 1px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;}

.home:hover {
    background-color:#e29787;}    

.about:hover {
    background-color:#e29787;} 

.hobbies:hover {
    background-color:#e29787;} 

h1 {
    text-align: center;
    padding: 10px;    
    font-family: 'Nanum Myeongjo', serif;
    border-top: solid; 
    background-color: #e29787; }


#container p {
    padding: 45px;
    background-color: #e29787;
    border-style: solid;
    font-size: 21px;    
    text-align: justify;}

img { 
    width: 375px;
    height: 500px;
    border: 3px solid black;}

.pic1 {
    border-left: none;}

.pic2 {
    border-right: none;}

.pic3 {
    border-left: none;}

#container {
    
    border-color:rgb(0, 0, 0);
    width: 70%;
    margin: auto;    
    border-style: solid;
    line-height: 1.5;
    word-spacing: 1px;
    background-color: #e29787;}
            
.section1 {    
    display: flex;    
    padding: 40px 40px 20px 40px;
    width: 70%;    
    margin: auto;
    border-style: solid; 
    border-bottom: none;}
    
.section2 {
    
    display: flex;
    padding: 20px 40px 20px 40px;
    width: 70%;
    margin: auto;
    border-style: solid;
    border-bottom: none;
    border-top: none;}

.section3 {
    
    display: flex;
    padding: 20px 40px 40px 40px;
    width: 70%;
    margin: auto;
    border-style: solid;
    border-bottom: none;
    border-top: none;}

.section1 p{
    border-right:none;}

.section2 p{
    border-left:none;}

.section3 p{
    border-right:none;}

.top-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}
    
.top {
    font-family: 'Nanum Myeongjo', serif;
    display: inline;     
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;}

.top:hover {
    background-color: #e29787;}

.web {           
    text-align: right;
    margin: 20px;}

.site {       
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;}

.site:link {    
    color:black;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;}

.site:visited {
    color: black;}

.site:hover {
    background-color: #e29787;}









